{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IntitulePoste</th>
                <th>LieuTravail</th>
                <th>Description</th>
                <th>Horaires</th>
                <th>Salaire</th>
                <th>Type de contrat</th>
                <th>Etat</th>
                <th>Publié par</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                {% if is_granted('ROLE_RECRUTEUR') %}
                    {% if annonce.userId == user %}
                        <td>{{ annonce.id }}</td>
                        <td>{{ annonce.intitulePoste }}</td>
                        <td>{{ annonce.lieuTravail }}</td>
                        <td>{{ annonce.description }}</td>
                        <td>{{ annonce.horaires }}</td>
                        <td>{{ annonce.salaire }}</td>
                        <td>{{ annonce.idTypeContrat }}</td>
                        <td>{{ annonce.etat }}</td>
                        <td>{{ annonce.userId }}</td>
                        <td>
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                            <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                        </td>
                    {% endif %}
                {% else %}
                    <td>{{ annonce.id }}</td>
                        <td>{{ annonce.intitulePoste }}</td>
                        <td>{{ annonce.lieuTravail }}</td>
                        <td>{{ annonce.description }}</td>
                        <td>{{ annonce.horaires }}</td>
                        <td>{{ annonce.salaire }}</td>
                        <td>{{ annonce.idTypeContrat }}</td>
                        <td>{{ annonce.etat }}</td>
                        <td>{{ annonce.userId }}</td>
                        <td>
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>       
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_RECRUTEUR') %}
    <a href="{{ path('app_annonce_new') }}">Create new</a>
{% endif %}
    
{% endblock %}
