{% extends 'base.html.twig' %}

{% block title %}Listes des annonces{% endblock %}

{% block body %}
    <h1>Listes des annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule du Poste</th>
                <th>Lieu de Travail</th>
                <th>Description</th>
                <th>Horaires</th>
                <th>Salaire</th>
                <th>Type de contrat</th>
                <th>Actif</th>
                <th>Publié par</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                {% if is_granted('ROLE_RECRUTEUR') %}
                    {% if annonce.userId == user %}
                        <td>{{ annonce.id }}</td>
                        <td>{{ annonce.intitulePoste }}</td>
                        <td>{{ annonce.lieuTravail }}</td>
                        <td>{{ annonce.description }}</td>
                        <td>{{ annonce.horaires }}</td>
                        <td>{{ annonce.salaire }}</td>
                        <td>{{ annonce.idTypeContrat }}</td>
                        <td>{{ annonce.actif }}</td>
                        <td>{{ annonce.userId }}</td>
                        <td>
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">Détails</a>
                            {% if annonce.actif %}
                                <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Editer</a>
                            {% endif %}
                        </td>
                    {% endif %}
                {% elseif is_granted('ROLE_CONSULTANT') %}
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.intitulePoste }}</td>
                    <td>{{ annonce.lieuTravail }}</td>
                    <td>{{ annonce.description }}</td>
                    <td>{{ annonce.horaires }}</td>
                    <td>{{ annonce.salaire }}</td>
                    <td>{{ annonce.idTypeContrat }}</td>
                    <td>{{ annonce.actif }}</td>
                    <td>{{ annonce.userId }}</td>
                    <td>
                        <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">Détails</a>
                        <a href="{{ path('app_annonce_activate', {'id': annonce.id}) }}">Activer</a>
                        <a href="{{ path('app_annonce_deactivate', {'id': annonce.id}) }}">Désactiver</a>
                    </td>
                {% else %}
                    {% if annonce.actif %}
                        <td>{{ annonce.id }}</td>
                        <td>{{ annonce.intitulePoste }}</td>
                        <td>{{ annonce.lieuTravail }}</td>
                        <td>{{ annonce.description }}</td>
                        <td>{{ annonce.horaires }}</td>
                        <td>{{ annonce.salaire }}</td>
                        <td>{{ annonce.idTypeContrat }}</td>
                        <td>{{ annonce.actif }}</td>
                        <td>{{ annonce.userId }}</td>
                        <td>
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">Détails</a>
                            <a href="{{ path('app_candidature') }}">Postuler</a>
                        </td>
                    {% endif %}      
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_RECRUTEUR') %}
    <a href="{{ path('app_annonce_new') }}">Créer une nouvelle annonce</a>
{% endif %}
{% if is_granted('ROLE_CONSULTANT') %}
    <a href="{{ path('app_user_index') }}">Gérer l'activation des utilisateurs</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="/user/new" class="btn btn-link"> Créer un nouveau consultant</a>
    <a href="/user" class="btn btn-link"> Lister tous les utilisateurs</a>
{% endif %}
    
{% endblock %}
