{% extends 'base.html.twig' %}

{% block title %}AttributsCandidat index{% endblock %}

{% block body %}
    <h1>AttributsCandidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cv</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attributs_candidat in attributs_candidats %}
            <tr>
                {% dump(attributs_candidat.userId) %}
                {% dump(user) %}
                {% if attributs_candidat.userId == user %}
                    <td>{{ attributs_candidat.id }}</td>
                    <td>{{ attributs_candidat.nom }}</td>
                    <td>{{ attributs_candidat.prenom }}</td>
                    <td>
                        {% if attributs_candidat.cv  %}
                            <a href="{{ asset('uploads/cv/' ~ attributs_candidat.cv) }}">{{attributs_candidat.cv}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if attributs_candidat.image  %}
                            <img src={{ asset('uploads/image/' ~ attributs_candidat.image) }} class="card-img-top" alt={{attributs_candidat.image}}>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_attributs_candidat_show', {'id': attributs_candidat.id}) }}">show</a>
                        <a href="{{ path('app_attributs_candidat_edit', {'id': attributs_candidat.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
