{% extends 'base.html.twig' %}

{% block title %}AttributsCandidat{% endblock %}

{% block body %}
    <h1>AttributsCandidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attributs_candidat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ attributs_candidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ attributs_candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ attributs_candidat.cv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_attributs_candidat_index') }}">back to list</a>

    <a href="{{ path('app_attributs_candidat_edit', {'id': attributs_candidat.id}) }}">edit</a>

    {{ include('attributs_candidat/_delete_form.html.twig') }}
{% endblock %}
