{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <h1>Candidature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Annonce Id</th>
                <th>IsValid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_CONSULTANT') %}
            {% for candidature in candidatures %}
                <tr>
                    <td>{{ candidature.id }}</td>
                    <td>{{ candidature.userId }}</td>
                    <td>{{ candidature.annonceId }}</td>
                    <td>{{ candidature.isValid ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_candidature_show', {'id': candidature.id}) }}">show</a>
                        <a href="{{ path('app_candidature_edit', {'id': candidature.id}) }}">edit</a>
                        <a href="{{ path('app_candidature_activate', {'id': candidature.id}) }}">Activer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {#<a href="{{ path('app_candidature_new') }}">Create new</a>#}
{% endblock %}
